@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho&display=swap');

body, h1, h2, h3, p, img, input {
  margin: 0;
  padding: 0;
}
body{
  background: #f6e2bf;
  background-image: url("./img/bg.jpg");
  color: #000;
  overflow-y: scroll;
  font-family: 'Sawarabi Mincho', "Hiragino Kaku Gothic ProN",'ヒラギノ角ゴシック',YuGothic,"Yu Gothic",Verdana,Meiryo,sans-serif;
  letter-spacing: 0.03em;
}
a {
  color: #3a2500;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
button, input, select, textarea {
  font-family : inherit;
  font-size   : 100%;
  letter-spacing: 0.03rem;
}
h1 {
  text-align:center;
  color:#000;
  font-size: 20px;
}
h2 {
  color: #000;
  font-size: 16px;
  text-align: center;
  
}
h2.top{
  margin-top: 2em;
}
h2.gameover{
  font-size: 1.2em;
}
.top-page h2.result-title{
  display: inline-block;
  margin: 1em 0 0 0;
  padding: 0.3em 1em;
  border-bottom: 1px solid #000;
}
p {
  text-align: center;
  line-height: 1.8;
}
.container {
  margin: 10px auto;
  max-width: 800px;
}
.top-page {
  margin-top: 20px;
  text-align: center;
}
.top-page h1 {
  display: inline-block;
  padding: 0.5em;
  border-bottom: 2px solid #000;
}
.top-page h2 {
  margin-bottom: 1em;
}
.contents-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.contents-left {
  width: 50%;
  text-align: center;
  overflow: hidden;
  margin-top: 3em;
}
.contents-right {
  width: 50%;
  position: relative;
}
.gameover-wrapper {
  margin-top: 2em;
}
.start-wrapper {
  margin: 1em auto;
}
.start-wrapper img {
  max-height: 280px;
}
.arrow-wrapper {
  /* max-width:350px; */
  position: relative;
  margin: 0 auto;
}


.bottom-nav{
  max-width: 300px;
  margin: 1rem auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  align-items: center;
  box-sizing: border-box;
}
.menu-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0 auto;
}

a.button {
  background: #000;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-top: 0.5em;
  margin-bottom: 1em;
  padding: 15px 30px;
}
a.button:hover {
  text-decoration: none;
}
input[type="submit"] {
  border: none;
  display: block;
  padding: 15px 30px;
  -webkit-appearance: none;
  border-radius: 0;
}
input[type="submit"].button {
  background: #000;
  color: #fff;
  cursor: pointer;
  display: block;
  margin-bottom: 1em;
}
input[name="start"] {
  margin: 1em auto;
}
input[type="submit"]:hover{
  background: #3d3938;
  cursor: pointer;
}

input[type="submit"].arrow{
  width: 100px;
  height: 131px;
  background: url("./img/arrow.png") left center no-repeat;
  /* position: absolute; */
  /* display: inline-block; */
}
input[type="submit"].arrow:hover{
  opacity: .5;
}
input[name="up"]{
  margin: 0 auto;
}
input[name="right"]{
  position: absolute;
  top: 100px;
  right: 20px;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
input[name="down"]{
  /* position: absolute; */
  margin: 60px auto 0px;
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
input[name="left"]{
  position: absolute;
  top: 100px;
  left: 20px;
  transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
}
input[name="escape"]{
  width: 90%;
  margin: 10px auto;
  box-sizing: border-box;
}

.animal-detail {
  display: inline-block;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  padding: 0.5rem 0.5rem;
  margin: 0 auto;
}
.player-detail {
  display: inline-block;
  /* border: 2px solid #666; */
  background: #000;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 auto;
}
.player-detail h2{
  display: block;
  border-bottom: 1px solid #fff;
  color: #fff;
  margin-bottom: 5px;
  font-weight: normal;
}
.player-detail p{
  line-height: 1.8;
}

.scroll {
  display: block;
  max-height: 200px;
  overflow: auto;
  margin-bottom: 1rem;
}
.history-text {
  color: #111;
  font-weight: bold;
  line-height: 1.4;
  /* letter-spacing: 0.01em; */
}
/* .showUp {
  opacity: 1;
  margin-top: 0;
} */
.animal-img-wrapper {
  height:200px;
  width: 200px;
  text-align: center;
  margin: 1rem auto;
  /* background: #000; */
}

.animal-img {
  width:auto; 
  height: 100%;
}
.rotate90 {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
.rotate270 {
  transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
}
.rotateY {
  transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

.result-img-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  width: 95%;
  margin: 0 auto;
  padding: 0;
}
.result-animal {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 2em;
}
.result-img {
  max-width: 200px;
  max-height: 200px;
  margin-bottom: 10px;
}
.result-num {
  font-size: 1.2em;
  font-weight: bold;
  padding-right: 0.5em;
}

footer {
  margin-top: 0.5rem;
  font-size: 0.9em;
  width: 100%;
}
.thanks {
  text-align: center;
}
.copyright {
  text-align: center;
}